$color-black: #313131;
$color-gray: #7A7A7A;
$color-blue: rgb(82, 191, 255);
$color-red: #FE0002;

.text-blue{
    color: $color-blue;
}

.text-black{
    color: $color-black;
}

.bg-blue{
    background-color: $color-blue;
}

@mixin fonts($fontSize, $fontWeight, $lineHeight, $color) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color;
}

@mixin pseudo-element($top, $left, $width, $height, $content: "") {
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    content: $content;
    position: absolute;
}