.text-blue {
  color: rgb(82, 191, 255);
}

.text-black {
  color: #313131;
}

.bg-blue {
  background-color: rgb(82, 191, 255);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #7A7A7A;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 600;
}

body {
  background: url("./images/body-bg.png");
  background-size: cover;
  overflow-x: hidden;
}

.tree-top-left {
  position: absolute;
  top: -10%;
  left: -20%;
}

.top-clouds {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0px;
  z-index: 0;
  transform: translateY(-50%);
}

.bottom-clouds {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0px;
  z-index: 0;
  transform: translateY(50%);
}

h1,
h1 > * {
  font-size: 44px;
  font-weight: 600;
  line-height: 60px;
  color: #313131;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  color: rgb(82, 191, 255);
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #313131;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: #7A7A7A;
}

.wrapper {
  max-width: 400px;
  border: 1px solid #000;
  padding: 20px;
  margin: 0 auto;
}

.test-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  color: rgb(152, 182, 201);
  display: flex;
  align-items: center;
  gap: 12px;
}

input[type=radio] {
  position: relative;
}

input[type=radio]::after {
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgb(205, 237, 255);
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

input[type=radio]::before {
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 2;
  background-color: rgb(82, 191, 255);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s;
}

input[type=radio]:checked::before {
  opacity: 1;
}

input[type=radio]:checked ~ span {
  color: #313131;
}

input[type=checkbox] {
  position: relative;
}

input[type=checkbox]::after {
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgb(226, 237, 243);
  border: 2px solid rgb(226, 237, 243);
  transition: all 0.2s;
}

input[type=checkbox]::before {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 8px;
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: url("./images/icon/check.svg") center no-repeat;
  opacity: 0;
}

input[type=checkbox]:hover::after {
  border: 2px solid rgb(232, 232, 232);
}

input[type=checkbox]:checked::after {
  background-color: rgb(82, 191, 255);
  border: 2px solid rgb(82, 191, 255);
}

input[type=checkbox]:checked::before {
  opacity: 1;
}

input[type=checkbox]:checked ~ span {
  color: #313131;
}

input {
  outline: none;
  padding: 15px 20px 13px;
  max-height: 48px;
  background-color: rgb(248, 252, 255);
  border: 2px solid rgb(248, 252, 255);
  transition: all 0.2s;
  border-radius: 10px;
}

input::-moz-placeholder {
  color: rgb(152, 182, 201);
}

input::placeholder {
  color: rgb(152, 182, 201);
}

input:hover {
  border: 2px solid rgb(231, 239, 244);
}

input:focus {
  background-color: rgb(255, 255, 255);
}

input.accepted {
  background-color: rgb(248, 252, 255);
  color: #313131;
}

input.error {
  background-color: rgb(255, 248, 248);
  border: 2px solid #FE0002;
  color: #313131;
}

select {
  padding: 15px 20px 13px;
  max-height: 48px;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  outline: none;
  color: rgb(152, 182, 201);
  transition: all 0.2s;
  color: #313131;
  border: 2px solid rgb(250, 250, 250);
}

select:hover {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
  border: 2px solid rgb(232, 232, 232);
}

button {
  position: relative;
  cursor: pointer;
  height: 48px;
  border-radius: 25px;
  background: linear-gradient(213.92deg, rgb(177, 226, 255) -31.405%, rgb(104, 199, 255) 161.932%);
  transition: all 0.2s;
  position: relative;
  border: 0px;
  padding: 0px 18px 0px 50px;
}
button:hover {
  box-shadow: 0px 0px 25px 0px rgba(146, 214, 255, 0.5);
  background: linear-gradient(213.92deg, rgb(198, 234, 255) -31.405%, rgb(129, 208, 255) 161.932%);
}
button:focus {
  background: linear-gradient(213.92deg, rgb(134, 210, 255) -31.405%, rgb(71, 187, 255) 161.932%);
}
button:focus > i {
  background: linear-gradient(213.92deg, rgb(134, 210, 255) -31.405%, rgb(71, 187, 255) 161.932%);
}
button > span {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
}
button > i {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  color: #fff;
  padding: 11px;
  border-radius: 25px;
  background: linear-gradient(-37.8deg, rgb(177, 226, 255) 1.249%, rgb(104, 199, 255) 89.556%);
}

.button-white {
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(82, 191, 255, 0.15);
}
.button-white > span {
  color: rgb(82, 191, 255);
}
.button-white:hover > span {
  color: #fff;
}
.button-icon {
  border-radius: 25px;
  background: linear-gradient(-37.8deg, rgb(177, 226, 255) 1.249%, rgb(104, 199, 255) 89.556%);
  padding: 5px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-icon > i {
  position: static;
  transform: translate(0);
}

.border-rough {
  position: relative;
}
.border-rough::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 20px;
  background: url("./images/border.svg") center no-repeat;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 15px;
}
.social-icon {
  width: 15px;
  color: rgb(82, 191, 255);
  transition: all 0.2s;
}
.social-icon:hover {
  opacity: 0.8;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.nav-link {
  text-decoration: none;
  transition: all 0.2s;
}
.nav-link:hover {
  color: rgb(82, 191, 255);
}

.lang {
  display: flex;
  gap: 6px;
}
.lang-item {
  cursor: pointer;
}
.lang-item--active {
  color: rgb(82, 191, 255);
}

.main {
  margin-top: 20px;
  background: url("./images/bg.jpeg") center no-repeat;
  background-size: contain;
}
.main-inner {
  padding-top: 10%;
  height: 800px;
  display: flex;
  flex-direction: column;
}
.main-slider {
  flex: 1 1 auto;
  max-width: 721px;
}
.main-slider__title {
  margin-bottom: 25px;
}
.main-slider__subtitle {
  margin-bottom: 50px;
}
.main-info {
  display: flex;
  gap: 40px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.info-item > i {
  color: rgb(82, 191, 255);
}

.why-we {
  padding-top: 100px;
  position: relative;
  padding-bottom: 50px;
}
.why-we-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.why-we__subtitle {
  max-width: 455px;
  text-align: center;
  margin-bottom: 7px;
}
.why-we__title {
  margin-bottom: 65px;
}
.why-we-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.why-we-item {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  padding: 72px 0px 30px;
  text-align: center;
  background-color: #fff;
}
.why-we-item__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-university {
  padding-top: 150px;
}
.section-university-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-university__title {
  margin-bottom: 10px;
}
.section-university__subtitle {
  max-width: 423px;
  text-align: center;
  margin-bottom: 40px;
}

.university-slider-item {
  padding: 12px 12px 12px 20px;
  background-color: #fff;
  border-radius: 20px;
}
.university-slider-item__info {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.university-slider-item__info > strong {
  font-size: 18px;
}

.reviews {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
}
.reviews-clouds {
  position: absolute;
  max-width: 100%;
  left: 0;
  right: 0;
  bottom: -20%;
}
.reviews-bg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.reviews-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__title {
  margin-bottom: 140px;
}
.reviews-item {
  display: flex;
  max-width: 367px;
  padding: 27px 20px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  height: 304px;
  align-items: flex-end;
}
.reviews-item__content {
  position: absolute;
  background-color: rgb(82, 191, 255);
  border-radius: 50%;
  width: 212px;
  height: 212px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reviews-item__title {
  text-align: center;
  margin-bottom: 8px;
}

.students-photo {
  padding: 120px 0px 0px;
}
.students-photo__title {
  margin-bottom: 35px;
  text-align: center;
}

.question {
  padding-top: 120px;
  position: relative;
  padding-bottom: 50px;
}
.question__title {
  text-align: center;
  margin-bottom: 40px;
}
.question-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  gap: 30px;
}
.question-item {
  padding: 27px;
  border-radius: 20px;
  background-color: #fff;
  flex: 1 1 40%;
  position: relative;
}
.question-item--open > .question-item__text {
  max-height: 400px;
}
.question-item__text {
  transition: all 0.3s;
  max-height: 0px;
  overflow: hidden;
}
.question-item__button {
  position: absolute;
  top: 20%;
  right: 0;
  transform: translateX(50%);
}

.feedback {
  padding-top: 150px;
  background: url("./images/feedback/bg.png") center no-repeat;
  background-size: cover;
  position: relative;
}
.feedback-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.feedback-form {
  flex: 1 1 auto;
  background-color: #fff;
  border-radius: 20px;
  max-width: 560px;
  padding: 12px;
}
.feedback-form__title {
  margin-bottom: 12px;
}
.feedback-form__subtitle {
  margin-bottom: 21px;
}
.feedback-form__inner {
  text-align: center;
  padding: 30px 20px;
  border: 1px dashed rgb(226, 237, 243);
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.form__btn {
  max-width: 240px;
  margin: 0 auto;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-item__label {
  padding-left: 20px;
}
.form-item__icon {
  color: rgb(190, 216, 232);
}

.contacts {
  padding-top: 70px;
  padding-bottom: 150px;
  background: url("./images/contacts/bg.png") center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.contacts-truck {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translate(15%, -50%);
}
.contacts-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.contacts__title {
  margin-bottom: 10px;
}
.contacts__subtitle {
  margin-bottom: 66px;
}
.contacts-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contacts-item-content {
  display: flex;
  flex-direction: column;
}
.contacts-item__title {
  margin-bottom: 4px;
  color: #313131;
}
.contacts-info {
  background-color: #fff;
  border-radius: 20px;
  padding: 12px;
  max-width: 376px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contacts-info__inner {
  border: 1px dashed rgb(226, 237, 243);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.contacts-info__btn {
  transform: translateY(60%);
}

.footer {
  background-color: #fff;
  padding: 50px 0px 70px;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about {
  padding-top: 40px;
}
.about-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.about-content {
  display: flex;
  gap: 20px;
}
.about-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.universities {
  padding-top: 50px;
  padding-bottom: 100px;
}
.universities-list {
  padding-top: 40px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.universities-item {
  background-color: #fff;
  padding: 12px 27px 12px 12px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
}
.universities-item-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.universities-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 20%;
}
.universities-item-info__title {
  font-weight: 600;
}
.universities-item-list {
  gap: 7px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  max-width: 70%;
}
.universities__title {
  text-align: center;
  margin-bottom: 40px;
}
.universities-content {
  display: flex;
  gap: 20px;
}
.universities-sidebar {
  flex: 0 1 270px;
}
.universities-main {
  flex: 1 1 auto;
}
.universities-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.universities-form__input {
  max-width: 367px;
  width: 100%;
}

.radio-icon-icon {
  color: rgb(217, 217, 217);
}
.radio-icon-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.radio-icon-input {
  display: none;
}
.radio-icon-input:checked + .radio-icon-label {
  color: rgb(82, 191, 255);
}
.radio-icon-input:checked + .radio-icon-label > i {
  color: rgb(82, 191, 255);
}

.radio-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.radio-item {
  display: flex;
  gap: 10px;
}

.university {
  padding-top: 50px;
  padding-bottom: 100px;
}
.university__title {
  text-align: center;
  margin-bottom: 70px;
}
.university-inner {
  display: flex;
}
.university-content {
  flex: 1 1 auto;
}
.university-content__img {
  margin-bottom: 50px;
  border-radius: 20px;
}
.university-content__title {
  font-weight: 500;
  margin-bottom: 10px;
}
.university-content__text + .university-content__text {
  padding-top: 10px;
}
.university-sidebar {
  flex: 0 0 365px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.university-documents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.university-documents__title {
  margin-bottom: 15px;
  font-weight: 500;
  text-align: center;
  max-width: 270px;
}
.university-documents__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.university-documents__item {
  display: flex;
  gap: 8px;
  align-items: center;
}
.university-info {
  padding: 13px;
  background-color: #fff;
  border-radius: 20px;
}
.university-info-item {
  display: flex;
  gap: 10px;
  padding: 14px;
}
.university-info-item:nth-child(2n+1) {
  background-color: rgb(248, 252, 255);
}
.university-info-inner {
  border: 1px dashed rgb(226, 237, 243);
  border-radius: 20px;
}
.university-info__key {
  color: rgb(152, 182, 201);
  width: 114px;
  display: inline-block;
}
.university-info__value {
  font-weight: 500;
  color: #7A7A7A;
}

.academic__title {
  margin-bottom: 20px;
}

.consultation {
  padding-top: 60px;
  padding-bottom: 60px;
}
.consultation__title {
  margin-bottom: 40px;
  text-align: center;
}
.consultation-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.burger {
  display: none;
}

@media (max-width: 501px) {
  h1,
  h1 > * {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #313131;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: rgb(82, 191, 255);
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #313131;
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #7A7A7A;
  }
  .main-inner {
    height: 550px;
  }
  .header {
    position: relative;
  }
  .header-nav {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(70px);
  }
  .header-nav__list {
    background-color: rgb(248, 252, 255);
    flex-direction: column;
    z-index: 1;
    align-items: center;
  }
  .header-button {
    position: absolute;
    display: none;
  }
  .header-lang {
    position: absolute;
    display: none;
  }
  .header-logo {
    order: 2;
  }
  .header-social {
    order: 1;
  }
  .burger {
    order: 3;
  }
  .container {
    padding: 0px 10px;
  }
  .footer-nav-list {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */