$color-black: #313131;
$color-gray: #7A7A7A;
$color-blue: rgb(82, 191, 255);
$color-red: #FE0002;

.text-blue {
    color: $color-blue;
}

.text-black {
    color: $color-black;
}

.bg-blue {
    background-color: $color-blue;
}

@mixin fonts($fontSize, $fontWeight, $lineHeight, $color) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color;
}

@mixin pseudo-element($top, $left, $width, $height, $content: "") {
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    content: $content;
    position: absolute;
}

*::-webkit-scrollbar {
    width: 3px;
    /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
    background: $color-gray;
    /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: $color-blue;
    /* цвет плашки */
    border-radius: 30px;
    /* закругления плашки */
    // border: 3px solid orange;  /* padding вокруг плашки */
}