@use "base.scss";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gotham Pro', sans-serif;
    @include base.fonts(14px, 400, 20px, base.$color-gray);
}

img {
    max-width: 100%;
}

strong {
    font-weight: 600;
}

body {
    background: url("./images/body-bg.png");
    background-size: cover;
    overflow-x: hidden // overflow: hidden;
}

.tree-top-left {
    position: absolute;
    top: -10%;
    left: -20%;
}

.top-clouds {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0px;
    z-index: 0;
    transform: translateY(-50%);
}

.bottom-clouds {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0px;
    z-index: 0;
    transform: translateY(50%);
}


h1,
h1>* {
    @include base.fonts(44px, 600, 60px, base.$color-black);
}

h2 {
    @include base.fonts(36px, 600, 46px, base.$color-blue);
}

h3 {
    @include base.fonts(24px, 400, 30px, base.$color-black);
}

h4 {
    @include base.fonts(18px, 400, 26px, base.$color-gray);
}

.wrapper {
    max-width: 400px;
    border: 1px solid #000;
    padding: 20px;
    margin: 0 auto;
}

.test-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    color: rgb(152, 182, 201);
    display: flex;
    align-items: center;
    gap: 12px;
}

// Range
input[type=range] {
    // background: transparent;
    // -webkit-appearance: none;
    // background: rgba(100, 57, 57, 0.6);
    padding: 0;
    margin: 0;
    accent-color: base.$color-blue;
    // background: base.$color-gray;
    cursor: pointer;
    width: 100%;

    &::-webkit-slider-runnable-track {}
}

.range-input {
    &__label {
        font-weight: 500;
        color: base.$color-black;
    }
}


// Radio
input[type=radio] {
    position: relative;
}

input[type=radio]::after {
    @include base.pseudo-element(50%, 50%, 16px, 16px);
    border-radius: 50%;
    border: 2px solid rgb(205, 237, 255);
    z-index: 1;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

input[type=radio]::before {
    @include base.pseudo-element(50%, 50%, 14px, 14px);
    border-radius: 50%;
    z-index: 2;
    background-color: base.$color-blue;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s;
}

input[type=radio]:checked::before {
    opacity: 1;
}

input[type=radio]:checked~span {
    color: base.$color-black;
}

// Checkbox
input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]::after {
    @include base.pseudo-element(50%, 50%, 16px, 16px);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgb(226, 237, 243);
    border: 2px solid rgb(226, 237, 243);
    transition: all 0.2s;
}

input[type=checkbox]::before {
    @include base.pseudo-element(50%, 50%, 10px, 8px);
    transform: translate(-50%, -50%);
    z-index: 2;
    background: url("./images/icon/check.svg") center no-repeat;
    opacity: 0;
}

input[type=checkbox]:hover::after {
    border: 2px solid rgb(232, 232, 232);
}

input[type=checkbox]:checked::after {
    background-color: base.$color-blue;
    border: 2px solid base.$color-blue;
}

input[type=checkbox]:checked::before {
    opacity: 1;
}

input[type=checkbox]:checked~span {
    color: base.$color-black;
}

.checkbox-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.seach-checkbox {
    position: relative;

    &__label {
        font-weight: 500;
        color: base.$color-black;
    }

    &-form {
        position: relative;
    }

    &__input {
        width: 100%;
    }

    &__close {
        padding: 0;
        margin: 0;
        height: auto;
        background: transparent;
        position: absolute;
        right: 4px;
        top: 30px;
        border-radius: 0px;
        opacity: 0;
        transition: all 0.2s;

        &--open {
            opacity: 1;
        }

        &:hover {
            background: none;
            box-shadow: none;
        }

        &>svg {
            position: static;
            transform: translate(0);
            padding: 0px;
            background: transparent;
        }
    }

    &-list {
        position: absolute;
        height: 300px;
        z-index: 2;
        top: 70px;
        overflow: hidden;
        background-color: #fff;

        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
        transition: all 0.2s;
        max-height: 0px;

        &--open {
            padding: 15px;
            overflow-y: scroll;
            max-height: 300px;
        }
    }

}


// Input
input {
    outline: none;
    padding: 15px 20px 13px;
    max-height: 48px;
    background-color: rgb(248, 252, 255);
    border: 2px solid rgb(231, 239, 244);
    transition: all 0.2s;
    border-radius: 10px;
}

input::placeholder {
    color: rgb(152, 182, 201);
}

input:hover {
    border: 2px solid rgb(231, 239, 244);
}

input:focus {
    background-color: rgb(255, 255, 255);
}

input.accepted {
    background-color: rgb(248, 252, 255);
    color: base.$color-black;
}

input.error {
    background-color: rgb(255, 248, 248);
    border: 2px solid base.$color-red;
    color: base.$color-black;
}

select {
    padding: 15px 20px 13px;
    max-height: 48px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    outline: none;
    color: rgb(152, 182, 201);
    transition: all 0.2s;
    color: base.$color-black;
    border: 2px solid rgb(250, 250, 250)
}

select:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
    border: 2px solid rgb(232, 232, 232);
}

// Button
button {
    position: relative;
    cursor: pointer;
    height: 48px;
    border-radius: 25px;
    background: linear-gradient(213.92deg, rgb(177, 226, 255) -31.405%, rgb(104, 199, 255) 161.932%);
    transition: all 0.2s;
    position: relative;
    border: 0px;
    padding: 0px 18px 0px 50px;

    &:hover {
        box-shadow: 0px 0px 25px 0px rgba(146, 214, 255, 0.5);
        background: linear-gradient(213.92deg, rgb(198, 234, 255) -31.405%, rgb(129, 208, 255) 161.932%);
    }

    &:focus {
        background: linear-gradient(213.92deg, rgb(134, 210, 255) -31.405%, rgb(71, 187, 255) 161.932%);
    }

    &:focus>i {
        background: linear-gradient(213.92deg, rgb(134, 210, 255) -31.405%, rgb(71, 187, 255) 161.932%);
    }

    &>span {
        @include base.fonts(16px, 600, 26px, #fff);
    }

    &>svg {
        position: absolute;
        top: 50%;
        left: 2%;
        transform: translateY(-50%);

        padding: 6px;
        // background-color: #fff;
        // padding: 11px;
        border-radius: 25px;
        background: linear-gradient(-37.80deg, rgb(177, 226, 255) 1.249%, rgb(104, 199, 255) 89.556%);

        &>path {
            color: #fff;
        }
    }
}

.button {
    &-white {
        background: #fff;
        box-shadow: 0px 0px 25px 0px rgba(82, 191, 255, 0.15);

        &>span {
            color: base.$color-blue;
        }

        &:hover>span {
            color: #fff;
        }
    }

    &-icon {
        border-radius: 25px;
        background: linear-gradient(-37.80deg, rgb(177, 226, 255) 1.249%, rgb(104, 199, 255) 89.556%);
        padding: 5px;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;

        &>i {
            position: static;
            transform: translate(0);
        }
    }
}

// Border Rough
.border-rough {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        height: 20px;
        background: url("./images/border.svg") center no-repeat;
    }

}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

// Header
.header {
    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// Social
.social {
    display: flex;
    gap: 15px;

    &-icon {
        &:hover {
            opacity: 0.5;
        }

        // width: 15px;
        &>path {
            color: base.$color-blue;
            transition: all 0.2s;


        }
    }
}

// Navigate
.nav {
    &-list {
        display: flex;
        list-style-type: none;
        gap: 20px;
    }

    &-link {
        text-decoration: none;
        transition: all 0.2s;

        &:hover {
            color: base.$color-blue;
        }
    }
}

// lang
.lang {
    display: flex;
    gap: 6px;

    &-item {
        cursor: pointer;

        &--active {
            color: base.$color-blue;
        }
    }
}


// .london-bg{
//     position: absolute;
//     top: 0%;
//     left: 0;
//     right: 0;    
//     z-index: -1;
//     width: 100%;
//     // max-height: 800px;
// }

// Main
.main {
    margin-top: 20px;
    background: url("./images/bg.jpeg") center no-repeat;
    background-size: contain;

    &-inner {
        padding-top: 10%;
        height: 800px;
        display: flex;
        flex-direction: column;
    }

    &-slider {
        flex: 1 1 auto;
        max-width: 721px;
        margin: 0px;

        &__title {
            margin-bottom: 25px;
        }

        &__subtitle {
            margin-bottom: 50px;
        }
    }

    &-info {
        display: flex;
        gap: 40px;
    }
}

// Info-item
.info-item {
    display: flex;
    align-items: center;
    gap: 6px;

    &>i {
        color: base.$color-blue;
    }

}

// Why we
.why-we {
    padding-top: 100px;
    position: relative;
    padding-bottom: 50px;

    &-inner {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__subtitle {
        max-width: 455px;
        text-align: center;
        margin-bottom: 7px;
    }

    &__title {
        margin-bottom: 65px;
    }

    &-list {
        display: flex;
        gap: 20px;
        list-style-type: none;
    }

    &-item {
        position: relative;
        border-radius: 20px;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
        padding: 72px 0px 30px;
        text-align: center;
        background-color: #fff;

        &__img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


// Section University

.section-university {
    padding-top: 150px;

    &-inner {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__subtitle {
        max-width: 423px;
        text-align: center;
        margin-bottom: 40px;
    }
}

// University
.university {
    &-carousel{
        padding: 100px 0px;
        &-inner{
            position: relative;
        }
        &-item{
            display: flex;
            align-items: center;
            justify-content: center;   
        }
    }
    &-slider {
        overflow: hidden;
        width: 60%;
        // margin-left: 10%;
    }

    &-slider-item {
        padding: 12px 12px 12px 20px;
        background-color: #fff;
        border-radius: 20px;

        &__info {
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>strong {
                font-size: 18px;
            }
        }
    }
}

// Reviews
.reviews {
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;

    &-clouds {
        position: absolute;
        max-width: 100%;
        left: 0;
        right: 0;
        bottom: -20%;
    }

    &-bg {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 40px;
    }

    &-slider {
        max-width: 100%;
    }

    &-item {
        height: 410px;
        display: flex;
        max-width: 367px;
        border-radius: 20px;
        position: relative;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;

        &__content {
            position: absolute;
            background-color: base.$color-blue;
            border-radius: 50%;
            width: 212px;
            height: 212px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            overflow: hidden;
            top: 0;
            left: 50%;
            // transform: translateY(50%);
            transform: translate(-50%, 0%);
        }

        &__info {
            background-color: #fff;
            padding: 140px 27px 20px;
            border-radius: 20px;
        }

        &__title {
            text-align: center;
            margin-bottom: 8px;

        }
    }
}

// Students
.students {
    &-photo {
        padding: 120px 0px 0px;

        &__title {
            margin-bottom: 35px;
            text-align: center;
        }
    }
}

// Question
.question {
    padding-top: 120px;
    position: relative;
    padding-bottom: 50px;

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        list-style-type: none;
        gap: 30px;

        &>div {
            flex: 0 1 536px;
        }
    }

    // &-item {
    //     padding: 27px;
    //     border-radius: 20px;
    //     background-color: #fff;
    //     flex: 1 1 40%;
    //     // max-width: 536px;
    //     // width: 100%;
    //     position: relative;

    //     &--open>&__text {
    //         max-height: 400px;
    //     }

    //     &__text {
    //         transition: all 0.3s;
    //         max-height: 0px;
    //         overflow: hidden;
    //     }

    //     &__button {
    //         position: absolute;
    //         top: 20%;
    //         right: 0;
    //         transform: translateX(50%);
    //     }
    // }
}

// Feedback
.feedback {
    padding-top: 150px;
    background: url("./images/feedback/bg.png") center no-repeat;
    background-size: cover;
    position: relative;

    &-inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &-form {
        flex: 1 1 auto;
        background-color: #fff;
        border-radius: 20px;
        max-width: 560px;
        padding: 12px;
        position: relative;
        z-index: 3;

        &__title {
            margin-bottom: 12px;
        }

        &__subtitle {
            margin-bottom: 21px;
        }

        &__inner {
            text-align: center;
            padding: 30px 20px;
            border: 1px dashed rgb(226, 237, 243);
            border-radius: 20px;
        }
    }
}

// Form
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    // gap: 3px;

    &__btn {
        max-width: 240px;
        margin: 0 auto;
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: 3px;

        &__label {
            padding-left: 10px;
        }

        &__icon {
            color: rgb(190, 216, 232);
        }

        &__error {
            color: base.$color-red;
            opacity: 0;

            &--open {
                opacity: 1;
            }
        }
    }
}


// Contacts
.contacts {
    padding-top: 70px;
    padding-bottom: 150px;
    background: url("./images/contacts/bg.png") center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &-truck {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 50%;
        transform: translate(15%, -50%);
    }

    &-inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__subtitle {
        margin-bottom: 66px;
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 10px;

        &-content {
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin-bottom: 4px;
            color: base.$color-black;
        }
    }

    &-info {
        background-color: #fff;
        border-radius: 20px;
        padding: 12px;
        max-width: 376px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__inner {
            border: 1px dashed rgb(226, 237, 243);
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 13px;
            border-radius: 20px;
        }

        &__btn {
            transform: translateY(60%);
        }
    }
}

// Footer
.footer {
    background-color: #fff;
    padding: 50px 0px 70px;

    &-inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// About
.about {
    padding-top: 40px;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }

    &-content {
        display: flex;
        gap: 20px;

    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}


// Universities
.universities {
    padding-top: 50px;
    padding-bottom: 100px;

    &-filter {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &-inner {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // flex-direction: column;
    }

    &-list {
        padding-top: 40px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-item {
        background-color: #fff;
        padding: 12px 27px 12px 12px;
        border-radius: 20px;
        display: flex;
        gap: 20px;

        &-content {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1 1 30%;
            align-items: flex-end;

            &__title {
                font-weight: 600;
            }
        }

        &-list {
            gap: 7px;
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            max-width: 70%;
        }

        &-slider {
            max-width: 260px;
            width: 100%;

        }
    }

    &__title {
        text-align: center;
        margin-bottom: 40px;
    }

    &-content {
        display: flex;
        gap: 20px;
    }

    &-sidebar {
        flex: 0 1 350px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__title {
            // margin-bottom: 20px;
        }

        &__btn {
            margin-top: 10px;
            width: 100%;
        }
    }

    &-main {
        flex: 1 1 auto;
    }

    &-form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__input {
            max-width: 367px;
            width: 100%;
        }
    }
}

// Radio Icon
.radio-button {
    &-icon {
        color: rgb(217, 217, 217);
    }

    &-list {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &-input {
        display: none;

        &:checked+.radio-button-label {
            color: base.$color-blue;

            &>svg {
                fill: base.$color-blue;
                color: base.$color-blue;
            }
        }
    }
}

// Radio
.radio {
    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-item {
        display: flex;
        gap: 10px;
    }
}


// University
.university {
    padding-top: 50px;
    padding-bottom: 100px;

    &__title {
        text-align: center;
        margin-bottom: 70px;
    }

    &-inner {
        display: flex;

    }

    &-content {
        flex: 1 1 auto;

        &__img {
            margin-bottom: 50px;
            border-radius: 20px;
        }

        &__title {
            font-weight: 500;
            margin-bottom: 10px;
        }

        &__text+&__text {
            padding-top: 10px;
        }
    }

    &-sidebar {
        flex: 0 0 335px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &-documents {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            margin-bottom: 15px;
            font-weight: 500;
            text-align: center;
            max-width: 270px;
        }

        &__list {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &__item {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }

    &-info {
        padding: 13px;
        background-color: #fff;
        border-radius: 20px;

        &-item {
            display: flex;
            gap: 10px;
            padding: 14px;

            // background-color: red;
            &:nth-child(2n + 1) {
                background-color: rgb(248, 252, 255);
            }
        }

        &-inner {
            border: 1px dashed rgb(226, 237, 243);
            // padding: 14px;
            border-radius: 20px;
        }

        &__key {
            color: rgb(152, 182, 201);
            width: 114px;
            display: inline-block;
            // display: block;
        }

        &__value {
            font-weight: 500;
            color: base.$color-gray;
        }
    }
}

// Academic
.academic {
    &-item{
        flex: 0 1 20%;
        margin-bottom: 6px;
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
        // gap: 20px;
        justify-content: space-between;
    }
    &-item{

    }
    &__title {
        margin-bottom: 20px;
    }

    &-programs {
        background-color: #fff;
        padding: 10px;
        position: relative;

        // z-index: 5;
        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            &>span {
                font-weight: 500;
                color: base.$color-black;
            }
        }

        &-list {
            border-radius: 20px;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 1;
            background-color: #fff;
            top: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-height: 0px;
            overflow: hidden;
            transition: all 0.3s;

            &--open {
                padding: 15px;
                max-height: 1000000px;
            }
        }
    }
}

// Consultation
.consultation {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        margin-bottom: 40px;
        text-align: center;
    }

    &-form {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}


.burger {
    display: none;
}

// Modal
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    transform: translateX(-100%);
    transition: all 0.3s;

    &--open {
        transform: translateX(-0%);
    }

    &-content {
        background-color: #fff;
        border-radius: 20px;
        max-width: 400px;
    }
}

// Btn Icon
.btn-icon {
    cursor: pointer;
    background: linear-gradient(213.92deg, rgb(177, 226, 255) -67.782%, rgb(104, 199, 255) 175.484%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: linear-gradient(213.92deg, rgb(134, 210, 255) -67.782%, rgb(71, 187, 255) 175.484%);
    }

    &>svg {
        border-radius: 25px;
        // background: linear-gradient(-37.80deg, rgb(177, 226, 255) 1.249%, rgb(104, 199, 255) 89.556%);
    }
}

// Accordion
.accordion {
    background-color: #fff;
    padding: 27px;
    border-radius: 20px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);

    &-content {
        max-height: 0px;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        overflow: hidden;

        &--open {
            transition: max-height 1s ease-in-out;
            max-height: 1000px;
        }
    }

    &-header {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &-buttons {
        position: absolute;
        top: 5%;
        right: 0px;
        transform: translateX(50%);

        &>&__minus {
            display: none;
        }

        &--open {
            &>.accordion-buttons__minus {
                display: flex;
                background: #D9D9D9;
            }

            &>.accordion-buttons__plus {
                display: none;
            }
        }
    }
}

.filter {
    &-item {
        &__title {
            font-weight: 500;
            display: flex;
            align-items: center;
            margin-bottom: 6px;
        }
    }

    &-radio {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}


.slider{
    &-btn{
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        &-next{
            right: 0;
        }
    }
}

@media (max-width: 501px) {

    h1,
    h1>* {
        @include base.fonts(18px, 600, 24px, base.$color-black);
    }

    h2 {
        @include base.fonts(24px, 600, 32px, base.$color-blue);
    }

    h3 {
        @include base.fonts(24px, 400, 30px, base.$color-black);
    }

    h4 {
        @include base.fonts(18px, 400, 26px, base.$color-gray);
    }

    .main-inner {
        height: 550px;

    }

    .header {
        position: relative;
    }

    .header-nav {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        transform: translateY(70px);

        // display: none;
        &__list {
            background-color: rgb(248, 252, 255);
            flex-direction: column;
            z-index: 1;
            align-items: center;
        }
    }

    .header-button {
        position: absolute;
        display: none;
    }

    .header-lang {
        position: absolute;
        display: none;
    }

    .header-logo {
        order: 2;
    }

    .header-social {
        order: 1;
    }

    .burger {
        order: 3;
    }

    .container {
        padding: 0px 10px;
    }

    .footer-nav-list {
        flex-wrap: wrap;
    }
}